.nav-menu-active,
.nav-menu-closed {
  transition:
    height 0.5s ease,
    width 0.5s ease;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-active {
  height: 98%;
  background: linear-gradient(180deg, #3c3d43 0%, #1e1e1e 100%);
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  position: relative;

  .logo-open-container {
    position: absolute;
    width: 100%;
    @include flex-center;
    margin-top: 10%;

    .open-logo-img {
      height: 5.8vh;
      width: 13vw;
    }
  }

  .option-navigate {
    position: absolute;
    width: 90%;
    top: 12%;

    .options-container {
      display: flex;
      flex-direction: row;
      margin-top: 22%;

      .options-left {
        width: 30%;
        display: flex;
        justify-content: center;
        color: white;
        .icon-img {
          height: 4vh;
        }
      }
      .options-right {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .options-text {
          font-weight: 700;
          color: white;
          font-size: 0.7rem;
          font-family: 'Montserrat', sans-serif;
        }
        .arrow-nav {
          color: white;
          font-size: 1.2rem;
        }
      }
    }
    .dropdown-menu {
      width: 100%;
      display: flex;
      align-self: center;
      margin-top: 5%;
      background-color: #2e87ed;
      border-radius: 0.6rem;
      height: 3.5rem;

      .submenu-left {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .submenu-left-text {
          font-weight: 700;
          font-size: 18px;
          color: white;
          font-family: 'Montserrat', sans-serif;
        }
      }

      .submenu-right {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .submenu-right-text {
          color: white;
          font-weight: 600;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }
}

.bottom-icons-open {
  position: absolute;
  bottom: 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bottom-icons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10%;
    margin-top: 15%;

    .bottom-text {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 0.7rem;
      color: white;
      align-self: center;
      padding-left: 8%;
    }
  }
}

.nav-menu-closed {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  background: linear-gradient(180deg, #3c3d43 0%, #1e1e1e 100%);

  .sidebar-logo {
    width: 100%;
    @include flex-center;
    position: absolute;
    top: 2%;

    .img-closed {
      height: 6vh;
      width: 3vw;
    }
  }

  .mid-icons {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;

    .nav-menu {
      height: 100%;

      .nav-menu-items {
        list-style: none;
        height: 100%;

        .nav-menu-list {
          margin-top: 90%;
        }
      }
    }
  }
}

.bottom-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.cursor-pointer{
  cursor: pointer;
}