
//All driver name grid header related css must go inside this
.driver-grid-header{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .select-text{
    color:rgba(146, 155, 173, 1);
    font-weight: 500;
    margin-right: 8px;
  }
  img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .search-box{
    border: 1px solid rgba(219, 219, 219, 1);
    height: 35px;
    color: rgba(134, 138, 152, 1);
    padding: 5px;
    border-radius: 8px;
    outline-color: rgba(134, 138, 152, 1);
    margin-left: auto;
    flex-basis: 200px;
  }
}