@import "src/styles/design-systems.module";

.forgot-password-form{
  @include flex-column;
  gap: 10px;
  padding-right: 30%;
  @media (width>=1440px) {
    padding-right: 40%;
  }
  @extend %common-form-rules;
  .form-link {
    text-align: center;
    display: flex;
    @include flex-center;
    margin-top: 10px;
  }
}
