$label-color:rgba(52, 71, 103, 1);
$input-bg-color:rgba(236, 236, 237, 1);
$error-color: rgba(211, 47, 47,1);


.forgot-password-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30%;
  @media (width>=1440px) {
    padding-right: 40%;
  }
  .form-label{
    font-weight: 600;
    color: $label-color;
    &.form-label-error{
      color:$error-color;
    }
  }
  .form-input {
    color: $label-color;
    background-color: $input-bg-color;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 5px;
    &[type='password'] {
      font-weight: 800;
    }
    &:focus-visible {
      outline-color: $label-color;
    }
    &.form-input-error{
      outline: 1px solid $error-color !important;
      //  Reason for adding 'important' to this property was that outline was being override on focus visible
      //  but it should stay red until error is resolved
    }
  }

  .form-checkbox {
    margin-right: 5px;
    cursor: pointer;
    transform: scale(1.2);
  }
  .form-checkbox-label {
    color: $label-color;
  }
  .form-link {
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-top: 10px;
  }
}
