@import 'src/styles/design-systems.module';
.right-icon {
  width: 11px;
}

.right-icon-container {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: min-content;
  border: 1px solid red;
}

