@import 'src/styles/design-systems.module';
.driver-card {
  &:hover {
    background-color: $bg-white-smoke;
  }
  &.selected {
    outline: 1px solid $border-blue-bright;
    background-color: $bg-beige-light;
  }
  .radio-btn {
    margin-left: auto;
  }
}

