@import 'src/styles/design-systems.module';
//All css related to this screen should go inside this
.select-driver-screen {
  padding-right: 4%;

  .productText {
    font-weight: $font-normal;
    color: $charcoal-dark;
  }
  .quantity {
    font-weight: $font-bold;
    color: $green-mint;
  }
  .stock {
    font-weight: $font-normal;
    color: $charcoal-dark;
  }
  .language-select {
    @extend .language-selection-dropdown;
  }
  .buttons-group {
    @extend .position-bottom;
  }
}

