
//All css related to this screen should go inside this
.select-driver-screen{
  .productText {
    font-weight: 500;
  }
  .quantity {
    font-weight: 700;
    color: #62b766;
  }
  .stock{
    font-weight: 700;

  }
  .language-select{
    position: absolute;
    right:10px ;
    top: 2px;
  }
}