// Colors
$green-mint: rgba(98, 183, 102, 1);
$blue-steel: rgba(52, 71, 103, 1);
$indigo-deep: rgba(43, 56, 84, 1);
$grey-soft: rgba(146, 155, 173, 1);
$white-translucent: rgba(255, 255, 255, 0.6);
$grey-darker: rgba(193, 194, 205, 1);
$red-error: rgba(211, 47, 47,1);
$white-pure: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$charcoal: rgba(52,52,57,1);

// Background Colors
$bg-white-smoke: rgba(236, 236, 237, 1);
$bg-beige-light: rgba(241, 242, 246, 1);
$bg-black-translucent: rgba(0, 0, 0, 0.4);
$bg-sky-blue: rgba(205, 224, 255, 1);
$bg-blue-vivid: rgba(46, 135, 237, 1);
$bg-cerulean: rgba(162, 193, 244, 1);

// Border Colors
$border-grey-light: rgba(218, 218, 218, 1);
$border-grey-focus: rgba(213, 219, 226, 1);
$border-grey-dark: rgba(134, 138, 152, 1);
$border-blue-bright: rgba(34, 106, 229, 1);
$border-blue-dark: rgba(29, 99, 227, 1);

// Gradients
$gradient-black: linear-gradient(180deg, rgb(60,61,67) 0%, rgba(30,30,30) 100%);
$gradient-blue: linear-gradient(90deg, $border-blue-dark 0%, rgba(54,137,237) 100%);
$gradient-grey:linear-gradient(90deg, rgba(241, 244, 246, 0.2) 0%, #F1F2F6 47.52%, rgba(241, 242, 246, 0.2) 100%);

