@import "reset";
@import "colors";
@import "typography";
@import "mixins";
@import "rules";

:export{
    // Colors
    greenMint: $green-mint;
    blueSteel: $blue-steel;
    indigoDeep: $indigo-deep;
    greySoft: $grey-soft;
    whiteTranslucent: $white-translucent;
    redError: $red-error;
    whitePure: $white-pure;
    black:$black;
    greyDarker:$grey-darker;
    charcoal:$charcoal;

    // Background Colors
    bgColorWhiteSmoke: $bg-white-smoke;
    bgColorBeigeLight: $bg-beige-light;
    bgColorBlackTranslucent: $bg-black-translucent;
    bgColorSkyBlue: $bg-sky-blue;
    bgColorBlueVivid: $bg-blue-vivid;

    // Border Colors
    borderGreyLight: $border-grey-light;
    borderGreyFocus: $border-grey-focus;
    borderGreyDark: $border-grey-dark;
    borderBlueBright: $border-blue-bright;
    borderBlueDark: $border-blue-dark;

    // Gradients
    gradientBlack: $gradient-black;
    gradientBlue: $gradient-blue;

    // Font Sizes
    fontSizeXl: $font-xl;
    fontSizeLg: $font-lg;
    fontSizeMd: $font-md;
    fontSizeSm: $font-sm;
    fontSizeXsm: $font-xsm;

    // Font Weights
    fontWeightBoldest: $font-boldest;
    fontWeightBold: $font-bold;
    fontWeightBolder: $font-bolder;
    fontWeightNormal: $font-normal;
    fontWeightLight: $font-light;
    fontWeightLighter: $font-lighter;
}
