@import "src/styles/design-systems.module";
//IMPORTANT write all classes related to login form inside '.login-form' so they only affect this form and not entire application
.login-form {
  @include flex-column;
  padding: 0 18%;
  gap: 10px;

  @media(width>=1440px){
    padding: 0 27%;
  }
  @extend %common-form-rules;
  .form-link {
    text-decoration: underline;
  }
  .eye-icon{
    position: absolute;
    top:8%;
    right:1%;
    z-index: 1;
  }
  .password-input-container{
    position: relative;
  }
}

.login-language-select{
  @extend .language-selection-dropdown;
  top:10px;
}
