//Overriding material UI defaults

.details-card {
  .MuiCardContent-root:last-child {
    padding-bottom: 2%;
  }

  .info-container {
    flex: 1;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.25;
  }
}

