@import 'src/styles/design-systems.module';

.filter-item {
  &.MuiDataGrid-menuList {
    padding: 0;
    min-width: 10px;

    .MuiDivider-root.MuiDivider-fullWidth {
      margin: 0;
    }

    &
      .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters[role='menuitem'] {
      padding: 10px;

      .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
        font-size: $font-md;
      }

      .MuiTypography-root {
        font-size: $font-xsm;
      }

      .MuiListItemIcon-root {
        min-width: 22px;
      }
    }
  }
}

.MuiDataGrid-filterForm {
  padding: 4px;

  .MuiNativeSelect-select.MuiNativeSelect-standard.MuiInputBase-input.MuiInput-input {
    font-size: $font-xsm;
  }

  .MuiInputBase-input.MuiInput-input {
    font-size: $font-xsm;
  }
}

.no-data-img {
  width: 88px;
  height: 88px;
}

