@import "src/styles/design-systems.module";
.driver-card{
  &:hover{
    background-color: $bg-sky-blue;
  }
  &.selected{
    outline:1px solid $border-blue-bright;
    background-color: $bg-sky-blue;
  }
  .radio-btn{
    margin-left: auto;
  }
}
