@import 'src/styles/design-systems.module';

.stock-check-in {
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 27px;
  .productText {
    font-weight: $font-normal;
  }
  .quantity {
    font-weight: $font-bold;
    color: $green-mint;
  }
  .language-select {
    @extend .language-selection-dropdown;
  }
  .buttons-group {
    @extend .position-bottom;
  }
}

