@import 'src/styles/design-systems.module';

.container-timeline-outer {
  background-color: transparent; /* Replace var(--bg-color) with the desired background color */
  @include flex-column;
  @include flex-center;
  position: relative;
  top: -20px;

  .container-timeline {
    display: flex;
    @include flex-row;
    height: 124px;
    width: 100%;
    background: $white-pure;
    border-radius: 16px;
    align-items: center;
    padding: 0 4%;
  }

  .step-item {
    @include flex-column;
    @include flex-center;
    @extend .font-xsm;
    padding: 10px 0;
    flex: 0.5;
  }

  .step-indicator {
    flex: 1;
    border-radius: 8px;
  }

  .timeline-hr {
    height: 5px;
    flex: 1;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .step {
    width: 24px;
    height: 24px;
    display: flex;
    @include flex-center;
    z-index: 10;
    position: relative;
    background-color: $white-pure;
    border-radius: 50%;
    font-weight: $font-bolder;
    color: $white-pure;
  }

  .steps-done {
    height: 24px;
    width: 24px;
    border-radius: 10px;
  }

  img {
    height: 24px;
    width: 24px;
  }

  .steps {
    color: $gray-charcoal;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
  }

  .in-progress {
    color: $white-pure;
    span {
      color: $primary-blue;
    }
  }

  .completed {
    color: $white-pure;
    span {
      color: $vibrant-green;
    }
  }

  .pending {
    color: $white-translucent;
    span {
      color: $gray-muted;
    }
  }
}

