@import 'src/styles/design-systems.module';

.container-timeline-outer {
  background-color: transparent; /* Replace var(--bg-color) with the desired background color */
  @include flex-column;
  @include flex-center;
  position: relative;
  top: -40px;

  .container-timeline {
    display: flex;
    @include flex-row;
    height: 124px;
    width: 100%;
    background: $white-pure;
    border-radius: 16px;
    align-items: center;
  }

  .timeline_indicator {
    @include flex-row;
    justify-content: space-evenly;
    flex: 1;
    max-width: fit-content;
  }

  .step-item {
    position: relative;
    @include flex-column;
    @include flex-center;
    @extend .font-xsm;
    padding: 10px;
    margin: 2px;
    flex: 1;
  }

  .step-indicator {
    flex: 1;
    border-radius: 8px;
  }

  .timeline-hr {
    margin-top: 8%;
    height: 5px;
    background-color: $bg-soft-sky;
    border-radius: 8px;
    border: 1px solid $bg-soft-sky;
  }

  // .step-item:not(:first-child)::before {
  //   content: '';
  //   background-color: $bg-soft-sky;
  //   position: absolute;
  //   width: 100%;
  //   height: 3px;
  //   right: 50%;
  //   top: 34.3333%;
  //   border-radius: 5px;
  //   transform: translateY(-50%);
  // }

  .step {
    width: 24px;
    height: 24px;
    display: flex;
    @include flex-center;
    z-index: 10;
    position: relative;
    background-color: $white-pure;
    border-radius: 50%;
    font-weight: $font-bolder;
    color: $white-pure;
  }

  .steps-done {
    height: 24px;
    width: 24px;
    border-radius: 10px;
  }

  img {
    height: 24px;
    width: 24px;
  }

  .steps {
    color: $gray-charcoal;
    display: flex;
    justify-content: flex-start;
  }

  .in-progress {
    color: $white-pure;
    span {
      color: $primary-blue;
    }
  }

  .completed {
    color: $white-pure;
    span {
      color: $vibrant-green;
    }
  }

  .pending {
    color: $white-translucent;
    span {
      color: $gray-muted;
    }
  }
}

