.container {
  background-color: transparent; /* Replace var(--bg-color) with the desired background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top:-40px;
}

.container-timeline {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;

  background: linear-gradient(90deg, #1d63e3 0%, #3689ed 100%);
  border-radius: 1rem;
}

.step-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.step-item:not(:first-child)::before {
  content: '';
  background-color: white;
  position: absolute;

  width: 100%;
  height: 3px;
  right: 50%;
  top: 40.3333%;
  transform: translateY(-50%);
}

.step {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  background-color: white;
  border-radius: 50%;
  font-weight: 600;
  color: #ffffff;
}

.steps-done {
  height: 0.6rem;
  width: 0.6rem;
  background-color: #1d63e3;
  border-radius: 0.6rem;
}

.active {
  color: white;
}

.disable {
  color: rgba(255, 255, 255, 0.6);
}

.buttons-group {
  display: flex;
  justify-content: space-around;
}

.btn-item {
  background-color: black;
  margin-left: 2rem;
  color: white;
  width: 5rem;
  height: 1.8rem;
  border-radius: 0.3rem;
}

/* .active:not(:first-child)::before {
    background-color: green;
  }
  
  .complete:not(:first-child)::before {
    background-color:green;
  } */
