//IMPORTANT! Only these classes should be used for defining font size of each element so we can use media queries in future to add responsiveness


.font-xl{
    font-size: 1.563rem !important;
}
.font-lg{
    font-size: 1.125rem !important;
}
.font-md{
    font-size: 1rem !important;
}
.font-sm{
    font-size: 0.875rem !important;
}
