//IMPORTANT! Only these classes should be used for defining font size of each element so we can use media queries in future to add responsiveness

.font-xl{
    font-size: 1.563rem !important;
}
.font-lg{
    font-size: 1.125rem !important;
}
.font-md{
    font-size: 1rem !important;
}
.font-sm{
    font-size: 0.875rem !important;
}

.font-xsm{
    font-size: 0.75rem !important;
}
//Can be used to center anything
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
